.activity-group-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 1rem 0;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    /* border: 1px solid black; */
    background-color: rgb(247, 243, 243);
    box-shadow: 5px 5px 10px -1px rgb(119, 179, 176);
}

.activity-group-header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:  center;
}

.activity-group-header-right {
    display: flex;
    flex-direction: row; /* stack name + provider + guest */
    padding: 0.5rem;
    text-align: end;
}

.last-updated-info {
    display: flex;
    margin-top: 0.3rem;
    font-size: 0.5rem;
    align-items:  center;
}

.subscription-notification {
    display: flex;
    padding: 0.5rem;
    color: green;
    align-items:  center;
}

.expand-icon {
    display: flex;
    align-items:  center;
    padding-left: 1rem;
}