


.card-title button {
    background-color: lightseagreen;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 40px;
    /* Add these lines to ensure a square shape, which will become a circle with rounded corners */
    width: 40px;
    /* Make sure width and height are equal */
    height: 40px;
    display: flex;
    /*For centering the + sign*/
    align-items: center;
    justify-content: center;
    padding: 0;
    /*Remove default padding*/
}

.customer-list-item {
    /* display: flex;
    justify-content: left; */
    padding: 1rem 0.5rem;
    margin-bottom: 0rem;
    color: white;
}


.customer-list-item .customer-name-in-list {
    /* only name is bolded, not the date */
    font-weight: 800;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bg-jn {
    background-color: rgb(2, 65, 116);
}

.bg-hh {
    background-color: darkcyan;
}

.bg-none {
    background-color: black;
}

.edit-booking {
    color: black;
    background-color: white;
    font-size: 16px;
}

.category-buttons-container {
    width: 100%;
    display: block;
    /* flex-direction: column; */
    /* align-items: center; */
}



.clickable-header {
    display: flex;
    justify-content: space-between;
}

.customer-group-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 1rem 0;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    /* border: 1px solid black; */
    background-color: rgb(247, 243, 243);
    box-shadow: 5px 5px 10px -1px rgb(119, 179, 176);
}

.customer-group-header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:  center;
}

.customer-group-header-right {
    display: flex;
    flex-direction: row; /* stack name + provider + guest */
    padding: 0.5rem;
    text-align: end;
}

.last-updated-info {
    display: flex;
    margin-top: 0.3rem;
    font-size: 0.5rem;
    align-items:  center;
}

.subscription-notification {
    display: flex;
    padding: 0.5rem;
    color: green;
    align-items:  center;
}