.inv-item-box {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.inv-item-title {
  font-size: 1rem;
  font-weight: bold;
}

.inv-item-thumbnail {
  width: 25px;
  height: auto;
}

.inv-item-header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.inv-item-header-left {
  display: flex;
}

.inv-item-header-right {
  display: flex;
  align-items: center; 
}

.inv-item-body {
  padding: 1rem 1rem 0 1rem;
}

.inv-item-photo {
  position: fixed;        /* stays in place, even on scroll */
  top: 0;
  left: 0;
  width: 100vw;           /* full screen width */
  height: 100vh;          /* full screen height */
  object-fit: contain;    /* keep aspect ratio, fit inside */
  background: rgba(0,0,0,0.8); /* dimmed background */
  z-index: 9999;          /* above everything */
  cursor: pointer;        /* show it's clickable */
}

.inv-item-body-footer {
    margin-top: 2rem;
    display: flex;
    gap: 30px;
}

.inv-item-body-footer-icon p {
    font-size: 10px; 
    margin-top: 0rem;
    cursor: pointer;
    align-items: center;
}