.main-style {
    display: flex;
    flex-direction: row;
    gap: 1rem;
};

.footer-icon {
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: color 0.2s ease, transform 0.2s ease;
}

.footer-icon:hover {
  color: #007bff; /* or any accent color */
  transform: scale(1.05);
}

.footer-icon p {
    font-size: 10px; 
    margin-top: 0rem;
}