.comment-field {
    text-align: start;
    overflow-y: scroll;
}

.comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.comment-text {

}

.comment-input {
    margin-right: auto;
}

.metainfo-left {
    color: grey;
    font-size: 0.5rem;
}

.metainfo-right {
    color: grey;
    font-size: 0.5rem;
}