.todo-step-box {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.todo-step-title {
  font-size: 1rem;
  font-weight: bold;
}

.todo-step-body {
  padding: 1rem 1rem 0 1rem;
}

.todo-step-header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.todo-step-header-left {
  display: flex;
}

.todo-step-header-right {
  display: flex;
  align-items: center; 
}